body {
  font-family: sans-serif;
  font-size: 24px;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--primary);
  font-size: 42px;
}
.heading {
  background-color: blue;
}
