.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 4.2rem;
  padding-bottom: 2.4rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.5rem;
  font-size: 3.2rem;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
}

.logoLink:hover {
  opacity: 0.8;
  filter: brightness(80%);
}

.logoLink svg {
  width: 5.4rem;
  height: 5.4rem;
}
