.input {
  background: transparent;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem;
  border: 0.2rem solid transparent;
  color: var(--text-default);
  outline: none;
  border-bottom: 0.2rem solid var(--primary);
  transition: all 0.2s ease-in-out;
}

.input:focus {
  border-radius: 0.8rem;
  border: 0.2rem solid var(--primary);
}

.input:placeholder {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
}

.input:disabled {
  border-bottom: 0.2rem solid var(--disabled);
  color: var(--text-muted);
}
