.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 1.8rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.5rem;
}
.button:hover {
  filter: brightness(60%);
}

.red {
  background: var(--error);
  color: var(--text-over-error);
}
.green {
  background: var(--primary);
  color: var(--text-over-primary);
}
